$orange: #FFBD3C;

.nav{}
.nav--main{
  position: absolute;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;

  transition: padding .5s ease-in-out;
}
.nav__brand{
  width: 5rem;
  height: 3rem;
  background-color: silver;
}
.nav--main__items{
  display: none;
}

@media screen and (min-width: 870px) {
  .nav--main{
    padding: 2rem;
  }

  .nav--main__items{
    display: flex;
    list-style: none;
    margin: 0;

    &:hover{
      .nav--main__item:not(:hover){
        opacity: .5;
      }

      .nav--main__item:hover{
        border-top-color: $orange;
      }
    }
  }

  .nav--main__item{
    min-width: 6rem;
    max-width: 10rem;
    padding: .5rem 1rem 0 1rem;
    border-top-style: solid;
    border-top-width: .2rem;
    border-top-color: transparentize(white, 1);

    transition: opacity .15s ease-in-out;

    a{
      &:link, &:visited{
        text-decoration: none;
      }
    }
  }

  .nav--main__item__name{
    text-transform: uppercase;
    font-size: .9rem;
    color: white;
  }

  .nav--main__item__description{
    font-size: .7rem;
    color: transparentize(white, .5);
  }
}

@media screen and (min-width: 960px) {
  .nav--main{
    padding: 4rem;
  }
}
