@import "../../styles/_variables";

.text-input{
  flex: auto;
  outline: 0;

  background-color: transparentize(black, .95);

  &:focus{
    border-color: $blue;
    color: inherit;
    background-color: transparentize(black, .98); 
  }
}
