$footerColor: #1D4554;

.footer{
  padding: 0 1rem;
  position: relative;

  background-color: $footerColor;
}

.footer__inner{
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin: auto;
}

.footer__section{}

$footerInputEmailHeight: 3rem;
.footer__section--email{
  transform: translateY(-($footerInputEmailHeight / 2));
  height: $footerInputEmailHeight;
  border-radius: 5px;
  width: 100%;

  background-color: #F2F2F2;
}

.footer__section--info{
  font-size: .8rem;
  text-align: center;
  margin-top: 1rem;

  color: white;
}

.footer__section--brand{
  text-align: center;
}

.footer__section__div{
  width: 3rem;
  height: 2px;
  margin: 3rem auto 0 auto;
  border-radius: 1px;

  background-color: transparentize(white, .9);
}

@media screen and (min-width: 40rem) {
  .footer__inner{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .footer__section--info{
    text-align: left;
  }

  .footer__section__div{
    display: none;
  }
}
