.footer {
  padding: 0 1rem;
  position: relative;
  background-color: #1D4554; }

.footer__inner {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin: auto; }

.footer__section--email {
  transform: translateY(-1.5rem);
  height: 3rem;
  border-radius: 5px;
  width: 100%;
  background-color: #F2F2F2; }

.footer__section--info {
  font-size: .8rem;
  text-align: center;
  margin-top: 1rem;
  color: white; }

.footer__section--brand {
  text-align: center; }

.footer__section__div {
  width: 3rem;
  height: 2px;
  margin: 3rem auto 0 auto;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.1); }

@media screen and (min-width: 40rem) {
  .footer__inner {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem; }
  .footer__section--info {
    text-align: left; }
  .footer__section__div {
    display: none; } }
