.input{
  display: flex;
  align-items: stretch;
  height: 100%;
}

.input > input {
  background-color: transparent;
  border: 0;
  padding: 0 1rem;
}

.input__button{
  background-color: #E25ADF;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0 5px 5px 0;
  text-transform: uppercase;
  color: white;
}
