@import "../../styles/_variables";

.button{
  color: white;
  background-color: $blue;
  cursor: pointer;

  &:disabled{
    cursor: not-allowed;
  }

  &:active{
    transform: translateY(1px);
  }
}

.button--yellow{
  background-color: $yellow;
}
