.message {
  padding: .5rem 1rem;
  border-radius: .2rem;
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  font-size: .8rem;
  line-height: 1.2rem; }

.message--red {
  background-color: #fef7f7;
  border-color: #f9c9c9;
  box-sizing: border-box;
  border-collapse: collapse;
  color: #c51717; }

.message--blue {
  background-color: #c4efff;
  border-color: #91e0ff;
  box-sizing: border-box;
  border-collapse: collapse;
  color: #007baa; }

.message--green {
  background-color: #f3fefa;
  border-color: #c4f9e6;
  box-sizing: border-box;
  border-collapse: collapse;
  color: #13c586; }

.message--yellow {
  background-color: #fff9ef;
  border-color: #ffe8bc;
  box-sizing: border-box;
  border-collapse: collapse;
  color: #d58d00; }
