@import "../../styles/_variables";

// mixins
@mixin message_color($color) {
  background-color: lighten($color, 35);
  border-color:lighten($color, 25);
  box-sizing: border-box;
  border-collapse: collapse;
  color: darken($color, 20);
}

.message{
  padding: .5rem 1rem;

  border-radius: .2rem;
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  font-size: .8rem;
  line-height: 1.2rem;
}

.message--red{
  @include message_color($red);
}

.message--blue{
  @include message_color($light-blue);
}

.message--green{
  @include message_color($green);
}

.message--yellow{
  @include message_color($orange);
}
