.add-loan-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(9, 126, 247, 0.1); }

.add-loan-form__toolbar {
  background-color: white;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.add-loan-form__section {
  display: flex;
  justify-content: space-between; }
