.login{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__message{
  margin-top: 1rem;
}

.login__logo{
  width: 70%;
  margin: 0 auto 2rem auto;

  > .logo{
    width: 100%;
  }
}

.login__form{
  max-width: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text-input, .login__button{
    margin-top: 1rem;
  }
}

.login__form__header{
  text-align: center;
  font-size: 1.2rem;
}

.login__related{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  font-size: .8rem;
}
