@import "./_variables";

$formControlPadding: .6rem;
$formControlFontSize: .8rem;
$formControlBorderRadius: ($formControlPadding * 2 + $formControlFontSize) / 10;

.form-control{
  box-sizing: border-box;
  padding: $formControlPadding;

  border-radius: $formControlBorderRadius;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-collapse: collapse;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-size: $formControlFontSize;
  transition: border-color ease-out .2s;
  outline: 0;

  &:disabled{
    opacity: .4;
  }
}

.form-control--small{
  font-size: $formControlFontSize / 1.5;
  padding: $formControlPadding / 1.5;
}
