.form-control {
  box-sizing: border-box;
  padding: 0.6rem;
  border-radius: 0.2rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-collapse: collapse;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: border-color ease-out .2s;
  outline: 0; }
  .form-control:disabled {
    opacity: .4; }

.form-control--small {
  font-size: 0.53333rem;
  padding: 0.4rem; }
