$burgerSize: 3rem;
.burger{
  width: $burgerSize;
  height: $burgerSize;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: flex-end;
  justify-content: space-around;
}

$burgerLevelWidth: 80%;
.burger__level{
  width: $burgerLevelWidth;
  height: .1rem;
  background-color: white;
}

.burger__level:last-child{
  width: $burgerLevelWidth - $burgerLevelWidth / 3;
}

@media screen and (min-width: 870px) {
  .burger{
    display: none;
  }
}
