.burger {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: flex-end;
  justify-content: space-around; }

.burger__level {
  width: 80%;
  height: .1rem;
  background-color: white; }

.burger__level:last-child {
  width: 53.33333%; }

@media screen and (min-width: 870px) {
  .burger {
    display: none; } }
