.section {
  min-height: 100vh; }

.section__carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 3rem; }
  .section__carousel > div {
    width: 100%;
    display: flex;
    max-width: 50rem;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .section__carousel > div > ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .section__carousel > div > ul > li {
        list-style: none; }
        .section__carousel > div > ul > li > div {
          padding: 2rem;
          margin: 1rem;
          position: relative; }
          .section__carousel > div > ul > li > div:before, .section__carousel > div > ul > li > div:after {
            content: '';
            position: absolute;
            width: 2rem;
            padding-top: 2rem;
            background-color: transparent;
            border-width: .3rem;
            border-style: solid;
            border-color: transparent; }
          .section__carousel > div > ul > li > div:before {
            top: 0;
            left: 0;
            border-left-color: #097EF7;
            border-top-color: #097EF7; }
          .section__carousel > div > ul > li > div:after {
            bottom: 0;
            right: 0;
            border-right-color: #097EF7;
            border-bottom-color: #097EF7; }
    .section__carousel > div h4, .section__carousel > div h2 {
      text-transform: uppercase;
      margin: 0; }
    .section__carousel > div h4 {
      font-size: 1.6rem; }
    .section__carousel > div h2 {
      font-size: 3rem;
      font-weight: lighter; }
    .section__carousel > div p {
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 300; }

@media screen and (orientation: landscape) {
  .section__logo {
    width: 40%;
    max-width: 300px;
    margin: 1rem 0; }
    .section__logo > .logo {
      width: 100%; } }

@media screen and (min-width: 870px) {
  .section__carousel > div h4, .section__carousel > div h2 {
    text-align: center; }
  .section__carousel > div p {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;
    max-width: 30rem;
    margin: 1rem auto; } }

.section--0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.section--1 {
  max-width: 80rem;
  margin: auto;
  overflow: auto;
  min-height: auto; }
  .section--1 > .section-block {
    padding: 4rem 1rem 8rem 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; }
    .section--1 > .section-block > .section-block__body {
      text-align: center; }
      .section--1 > .section-block > .section-block__body p {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: left;
        color: #097EF7;
        letter-spacing: .5rem; }
        .section--1 > .section-block > .section-block__body p img {
          max-width: 60%; }
    .section--1 > .section-block > .section-block__blocks > .section-block {
      margin: 1rem 0 2rem 0;
      display: block; }
      .section--1 > .section-block > .section-block__blocks > .section-block > .section-block__body {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between; }
        .section--1 > .section-block > .section-block__blocks > .section-block > .section-block__body h3 {
          width: 70%;
          margin-bottom: 0;
          margin: 0;
          align-self: flex-start;
          font-size: 1.2rem;
          font-weight: normal;
          text-transform: uppercase;
          color: #636B70; }
        .section--1 > .section-block > .section-block__blocks > .section-block > .section-block__body > p {
          color: #798B98; }
          .section--1 > .section-block > .section-block__blocks > .section-block > .section-block__body > p > img {
            width: 100%; }
          .section--1 > .section-block > .section-block__blocks > .section-block > .section-block__body > p:nth-child(2) {
            width: 75%;
            font-size: .8rem; }
          .section--1 > .section-block > .section-block__blocks > .section-block > .section-block__body > p:nth-child(3) {
            width: 20%;
            display: flex;
            align-items: center; }
    .section--1 > .section-block > h4 {
      text-transform: uppercase;
      color: #636B70;
      letter-spacing: 20%;
      text-align: center; }

.section--2 {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: auto;
  background: -moz-linear-gradient(90deg, rgba(235, 87, 87, 0.95) 0%, rgba(155, 81, 224, 0.95) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(90deg, rgba(235, 87, 87, 0.95) 0%, rgba(155, 81, 224, 0.95) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(180deg, rgba(235, 87, 87, 0.95) 0%, rgba(155, 81, 224, 0.95) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#EB5757", endColorstr="#9B51E0", GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: white; }
  .section--2 > .section__contents {
    padding: 1rem 0;
    width: 100%;
    text-align: right; }
    .section--2 > .section__contents .section__title {
      margin: 0;
      font-size: 2.5rem;
      font-weight: lighter; }
    .section--2 > .section__contents .section__description {
      margin: 0;
      margin-top: .5rem;
      padding: 0;
      font-weight: lighter;
      font-size: 1.8rem; }
  .section--2 > .section-block {
    flex: auto;
    margin: 1rem 0; }
    .section--2 > .section-block:nth-child(odd) {
      margin-left: 20%;
      text-align: right; }
    .section--2 > .section-block:nth-child(even) {
      margin-right: 20%; }
    .section--2 > .section-block:last-child {
      text-align: center;
      margin: 4rem 0;
      align-self: flex-end;
      width: 100%; }
      .section--2 > .section-block:last-child a {
        height: 3rem;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: auto;
        max-width: 15rem;
        margin: auto;
        color: #9B51E0;
        font-weight: bolder;
        font-size: 1.3rem;
        text-transform: uppercase;
        background-color: white;
        border-radius: 1.5rem;
        text-decoration: none; }
    .section--2 > .section-block h4 {
      margin: 0;
      padding: 0;
      font-size: 1.5rem; }
    .section--2 > .section-block h2 {
      margin: .5rem 0 0 0;
      padding: 0;
      font-weight: lighter; }

@media screen and (min-width: 50rem) {
  .section-block__blocks {
    display: flex;
    max-width: 80rem;
    margin: auto; }
    .section-block__blocks > .section-block {
      padding: 0 2rem; }
  .section__carousel > div p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 300; }
  .section--1 {
    flex-direction: row; }
    .section--1 > .section-block:nth-child(1) > .section-block__body {
      max-width: 40rem;
      margin: 0 auto 4rem auto; }
      .section--1 > .section-block:nth-child(1) > .section-block__body p {
        text-align: center; }
    .section--1 > .section-block:nth-child(2), .section--1 > .section-block:nth-child(3) {
      width: 50%;
      float: left; }
  .section--2 .section__contents {
    text-align: center;
    margin: 2rem 0; }
  .section--2 .section-block {
    max-width: 50rem; } }
