$blue: #097EF7;
$light-blue: #11BDFF;
$red: #EB5757;
$magenta: #E25ADF;
$purple: #9B51E0;
$orange: #FFBD3C;
$pink: $magenta;
$silver: #798B98;
$gray: #636B70;

@function prep-color($color) {
  @return transparentize($color, .05);
}

@mixin gradient($start-color, $end-color, $degrees: -45deg, $degrees-ie: 135deg) {
  $prep-start-color: prep-color($start-color);
  $prep-end-color: prep-color($end-color);

  background: -moz-linear-gradient($degrees, $prep-start-color 0%, $prep-end-color 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient($degrees, $prep-start-color 0%, $prep-end-color 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient($degrees-ie, $prep-start-color 0%, $prep-end-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{$start-color}", endColorstr="#{$end-color}", GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.section{
  min-height: 100vh;
}

.section__carousel{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 3rem;

  > div {
    width: 100%;
    display: flex;
    max-width: 50rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    > ul {
      margin: 0;
      padding: 0;

      list-style: none;

      > li {
        list-style: none;

        > div {
          padding: 2rem;
          margin: 1rem;
          position: relative;

          &:before, &:after{
            content: '';
            position: absolute;
            width: 2rem;
            padding-top: 2rem;

            background-color: transparent;
            border-width: .3rem;
            border-style: solid;
            border-color: transparent;
          }

          &:before{
            top: 0;
            left: 0;

            border-left-color: $blue;
            border-top-color: $blue;
          }

          &:after{
            bottom: 0;
            right: 0;

            border-right-color: $blue;
            border-bottom-color: $blue;
          }

        }
      }
    }

    h4, h2 {
      text-transform: uppercase;
      margin: 0;
    }
    h4{
      font-size: 1.6rem;
    }
    h2{
      font-size: 3rem;
      font-weight: lighter;
    }
    p{
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 300;
    }
  }
}

@media screen and (orientation: landscape) {
  .section__logo{
    width: 40%;
    max-width: 300px;
    margin: 1rem 0;

    > .logo{
      width: 100%;
    }
  }
}

@media screen and (min-width: 870px) {
  .section__carousel{
    > div {
      h4, h2 {
        text-align: center;
      }
      p{
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 300;
        text-align: center;
        max-width: 30rem;
        margin: 1rem auto;
      }
    }
  }
}

.section--0{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section--1{
  max-width: 80rem;
  margin: auto;
  overflow: auto;
  min-height: auto;

  > .section-block{
    padding: 4rem 1rem 8rem 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    > .section-block__body{
      text-align: center;

      p {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: left;
        color: $blue;
        letter-spacing: .5rem;

        img{
          max-width: 60%;
        }
      }
    }

    > .section-block__blocks{
      > .section-block{
        margin: 1rem 0 2rem 0;
        display: block;

        > .section-block__body{
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          justify-content: space-between;

          h3{
            width: 70%;
            margin-bottom: 0;
            margin: 0;
            align-self: flex-start;

            font-size: 1.2rem;
            font-weight: normal;
            text-transform: uppercase;
            color: $gray;
          }

          > p{
            color: $silver;

            > img{
              width: 100%;
            }

            &:nth-child(2){
              width: 75%;
              font-size: .8rem;
            }

            &:nth-child(3){
              width: 20%;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }

    > h4{
      text-transform: uppercase;
      color: #636B70;
      letter-spacing: 20%;
      text-align: center;
    }
  }
}

.section--2{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: auto;

  @include gradient($red, $purple, 90deg, 180deg);
  color: white;

  > .section__contents{
    padding: 1rem 0;
    width: 100%;

    text-align: right;

    .section__title{
      margin: 0;

      font-size: 2.5rem;
      font-weight: lighter;
    }

    .section__description{
      margin: 0;
      margin-top: .5rem;
      padding: 0;

      font-weight: lighter;
      font-size: 1.8rem;
    }
  }

  > .section-block{
    flex: auto;
    margin: 1rem 0;

    &:nth-child(odd){
      margin-left: 20%;

      text-align: right;
    }

    &:nth-child(even){
      margin-right: 20%;
    }

    &:last-child{
      text-align: center;
      margin: 4rem 0;
      align-self: flex-end;
      width: 100%;

      a{
        height: 3rem;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: auto;
        max-width: 15rem;
        margin: auto;

        color: $purple;
        font-weight: bolder;
        font-size: 1.3rem;
        text-transform: uppercase;
        background-color: white;
        border-radius: 1.5rem;
        text-decoration: none;
      }
    }

    h4{
      margin: 0;
      padding: 0;

      font-size: 1.5rem;
    }

    h2{
      margin: .5rem 0 0 0;
      padding: 0;

      font-weight: lighter;
    }

  }
}

@media screen and (min-width: 50rem) {
  .section-block__blocks{
    display: flex;
    max-width: 80rem;
    margin: auto;

    > .section-block{
      padding: 0 2rem;
    }
  }

  .section__carousel{
    > div {
      p{
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 300;
      }
    }
  }

  .section--1{
    flex-direction: row;

    > .section-block:nth-child(1){
      > .section-block__body {
        max-width: 40rem;
        margin: 0 auto 4rem auto;

        p{
          text-align: center;
        }
      }
    }

    > .section-block:nth-child(2), > .section-block:nth-child(3){
      width: 50%;
      float: left;
    }
  }

  .section--2{
    .section__contents{
      text-align: center;
      margin: 2rem 0;
    }

    .section-block{
      max-width: 50rem;
    }
  }
}
